@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;

    background-color: rgba(225, 217, 217, 0.302);
    color: #000;
    
    min-height: 90vh;
}

main{
    display: flex;
    place-content: center;
}

.container{
    width: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1.5rem;
    padding: 1.5rem 0.25rem;
}

.container h1{
    font-size: 2rem;
    font-weight: 700;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.form__input{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.form__input select{
    width: 27%;
    height: 40px;

    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: rgba(245, 245, 245, 0.639);

    font-size: 1rem;

}

.form__input input{
    width: 68%;
    height: 40px;
    background-color: rgba(245, 245, 245, 0.639);

    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    
    padding: 0 10px;

    font-size: 1.15rem;

    transition: all 0.1s;
}

.form__input input:focus,
.form__input select:focus{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(0, 0, 0);
}

.form__btn{
    display: inline-block;
    width: 200px;
    height: 40px;

    border: none;
    border-radius: 5px;

    background-color: #000;
    color: #fff;
    
    font-size: 1.1rem;

    transition: transform 0.15s;
}

.form__btn:active{
    transform: scale(0.95);
}

.result{
    width: 300px;
    height: max-content;
    border: 1px solid #212121;
    border-radius: 5px;

    padding: 1rem 0;
    margin-top: 1.25rem;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;

    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}